<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

  <display-name>ZingBite</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- React Router SPA support -->
  <error-page>
      <error-code>404</error-code>
      <location>/index.html</location>
  </error-page>

  <!-- Static Asset Caching Filter -->
  <filter>
      <filter-name>CacheControlFilter</filter-name>
      <filter-class>com.app.zingbiteutils.CacheControlFilter</filter-class>
      <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
      <filter-name>CacheControlFilter</filter-name>
      <url-pattern>/assets/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CacheControlFilter</filter-name>
      <url-pattern>/css/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CacheControlFilter</filter-name>
      <url-pattern>/script/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CacheControlFilter</filter-name>
      <url-pattern>/videos/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CacheControlFilter</filter-name>
      <url-pattern>/favicon.svg</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CacheControlFilter</filter-name>
      <url-pattern>/icons.svg</url-pattern>
  </filter-mapping>

</web-app>
<!-- Reload context trigger -->